
/* Center the login */
body {
    margin: 0px auto; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 82, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container that centers the username and password texts and inputs */
.user-login {
    padding: 20px;
    width: 300px;
    background-color: rgb(190, 197, 173);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Makes the "Username" and "Password" texts bold */
.user-pass-text label {
    font-weight: bold;
}

/* Provides larger and nicer textboxes for user inputs */
.user-login input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Defines the font and alignment of the welcome message */
.welcome-msg {
    text-align: center;
}

/* This moves the "forgot my password" button to the right */
.forgot-password {
    text-align: right;
    padding: 0px 0px 10px 0px;
}

/* This centers the submit button */
.submit {
    text-align: center;
}

/* This makes the submit button looks nice */
.submit-button {
    text-align: center;
    color: black;
    background-color: rgb(164, 180, 148);
    padding: 10px 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Change color when user hovers over the submit button */
.submit-button:hover {
    background-color: rgb(140, 160, 125); 
}

/* This centers the login button */
.login {
    text-align: center;
}

/* This makes the login button looks nice */
#loginBtn {
    text-align: center;
    color: black;
    background-color: rgb(164, 180, 148);
    padding: 10px 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Change color when user hovers over the login button */
#loginBtn:hover {
    background-color: rgb(140, 160, 125); 
}

/* Align the role bar in the center of the frame */
#role {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
}

/* Make the role bar appear nice */
#role-button {
    padding: 10px 5px;
    margin: 0px;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Change the color of the role button when selected */
#role-button.active {
    background-color:  rgb(140, 160, 125); ;/* Highlight color */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Design of the divider that separates user input and forgot password prompt */
.divider {
    display: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

/* This makes the "forgot your password form" invisible until the user clicks the button
*/
.pass-reset {
    display: none;
    margin-top: 15px;
}