
/* Center the login */
body {
    margin: 0px auto; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 82, 73);
}

/* Container that centers the username and password texts and inputs */
.user-login {
    padding: 20px;
    width: 300px;
    background-color: rgb(190, 197, 173);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Makes the "Username" and "Password" texts bold */
.user-pass-text label {
    font-weight: bold;
}

/* Provides larger and nicer textboxes for user inputs */
.user-login input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Header containing login text and SUNY Brockport's green background */
/*.top {
    color: white;
    padding: 20px;
    text-align: left;
    border: solid black;
    width: 100%;
    position: fixed;          
    top: 0;
    left: 0;
    z-index: 1;
}*/

/* This makes the "forgot your password form" invisible until the user clicks the button
*/
.pass-reset {
    display: none;
    margin-top: 15px;
}
